*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font;
    font-weight: $base-font-weight;
    font-size: 16px;
}

%heading {
    font-weight: $heading-font-weight;
    margin: 0;
    padding: 0;
}

%clearfix {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        @extend %heading;
    }
}

.clearfix {
    @extend %clearfix;
}

.loading {
    background-image: url('bgs/spinner.gif');
    background-position: center center;
    background-size: 30px;
    background-repeat: no-repeat;
}